.container__info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.white {
    background-color: white;
}

.blue {
    background-color: #445fee;
}

.grey {
    background-color: grey;
}

.yellow {
    background-color: #ffcf24;
}

@media (max-width: 768px) {
    .container__info-card {
        height: 668px;
    }
}