<div class="container__section-header">
    <div class="section-header__title"><h1>Fullstack Developer</h1></div>
    <div class="section-header__description">
        <div>
            <h5>By Alexsandro Rodrigues</h5>
            <span>
                essa aplicação web foi desenvolvida utilizando o Framework Angular - a inspiração de design foi encontrada no 
                <a href="https://dribbble.com/shots/22734283-TechGroup-Website-Concept">Dribbble</a>
                , creditos ao autor
                <a href="https://dribbble.com/thomsoon_com" target="_blank">Tomasz Mazurczak.</a>
            </span>
        </div>
    </div>
</div>
