.container__section-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    min-height: 160px;
    min-width: min-content;
    margin: 0 30px;
    margin-bottom: 30px;
    border-bottom: 3px double grey;
}

.section-header__title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-width: 50%;
}

.section-header__title > h1{
    font-size: 50px;
    font-weight: 500;
}

.section-header__description {
    display: flex;
    align-items: center;
    min-width: 50%;
}

.section-header__description > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header__description > div > h5 {
    width: max-content;
    padding: 3px 6px;
    border: 2px solid white;
    border-radius: 30px;
}

.section-header__description > div > span {
    max-width: 70%;
    font-size: smaller;
    font-weight: 100;
    padding: 3px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .container__section-header {
        flex-direction: column;
        justify-content: space-around;
    }

    .section-header__description > div > span {
        max-width: 100%;
    }
}