<div class="container__menu-bar">
    <div class="menu-bar__logo">
        <span>◘ Tech Group</span>
    </div>
    <div class="menu-bar__options">
        <app-menu-bar-option target="" textContent="Home Page"></app-menu-bar-option>
        <app-menu-bar-option target="services" textContent="Services"></app-menu-bar-option>
        <app-menu-bar-option target="portifolio" textContent="Portifolio"></app-menu-bar-option>
        <app-menu-bar-option target="blog" textContent="Blog"></app-menu-bar-option>
        <app-menu-bar-option target="contact" textContent="Contact Now"></app-menu-bar-option>
    </div>
    <div class="menu-bar__final">
        <app-menu-bar-option textContent="Get Started"></app-menu-bar-option>
    </div>
</div>
