.container__section-header {
    display: flex;
    flex-direction: row-reverse;
    height: 160px;
    min-width: min-content;
    margin: 0 30px;
    margin-bottom: 30px;
    border-bottom: 3px double grey;
}

.section-header__title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-width: 50%;
}

.section-header__title > h1{
    font-size: 50px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 30px;
}

@media (max-width: 768px) {
    .container__section-header {
        flex-direction: column;
        justify-content: space-around;
    }

    .section-header__title {
        justify-content: center;
    }
}